asn1crypto==0.22.0
cffi==1.10.0
conda==4.3.30
cryptography==1.8.1
enum34==1.1.6
idna==2.6
ipaddress==1.0.18
munkres==1.0.12
packaging==16.8
pycosat==0.6.1
pycparser==2.18
pycrypto==2.6.1
pyOpenSSL==17.0.0
pyparsing==2.2.0
requests==2.14.2
ruamel-yaml===-VERSION
six==1.10.0
virtualenv==15.1.0
